---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Trabajo 1",
    company: "Compa침ia 1",
    description:
      "Descripci칩n del trabajo 1",
    link: "",
  },
  {
    date: "2019 - 2021",
    title: "Trabajo 2",
    company: "Compa침ia 2",
    description:
      "Descripci칩n del trabajo 2",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
