---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "+ 4 meses de experiencia (2024).",
    title: "Front-end Developer React",
    company: "V3rtice",
    description:
      "Desarrollo e implementación de funcionalidades para cliente, para una cínica de cirugía estética. Manejo de control de versiones con Github.",
  },
  {
    date: "+ 8 meses de experiencia (2023 - 2024",
    title: "Front-end Developer React",
    company: "Upwork",
    description:
      "Desarrollo con React y JavaScript para la implementación de interfaces, con componentes reutilizables y funcionalidades dinámicas a petición del cliente. Diseño de prototipos en Figma y Git para el control de versiones.",
  },
    {
    date: "+ 2 años de experiencia (2021 - 2023",
    title: "Junior Front-end Developer",
    company: "Disercom S.A",
    description:
      "Encargada de la creación de sitios web personalizados para colegios e institutos, adaptando las necesidades de cada cliente. Responsable de la comunicación directa con los clientes para definir requerimientos y ofrecer soluciones a medida. Programación con HTML, CSS, Javascript y WordPress, además de los diseños con Figma.",
  },
    {
    date: "+ 1 año de experiencia (2020 - 2021)",
    title: "Desarrollo y diseño de videojuegos",
    company: "Microsoft",
    description:
      "Creación de escenarios para videojuegos y soluciones adaptadas a clientes, usando Adobe Creative Suite.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
